<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PapyrusCpp_LIBRARIES/"
            target="platform:/plugin/com.cea.profiles.cpp/libraries/"/>
      <mapping
            source="pathmap://PapyrusCpp_PROFILES/"
            target="platform:/plugin/com.cea.profiles.cpp/profiles/"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Standard C Ansi types"
            iconpath="icons/transfo_cpp.gif"
            name="AnsiCLibrary"
            path="pathmap://PapyrusCpp_LIBRARIES/AnsiCLibrary.uml"
            provider="CEA LIST"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="C++ profile used in code generation"
            iconpath="icons/transfo_cpp.gif"
            name="PapyrusCpp"
            path="pathmap://PapyrusCpp_PROFILES/PapyrusCpp.profile.uml"
            provider="CEA LIST"/>
      <profile
            description="C profile used in code generation"
            iconpath="icons/transfo_cpp.gif"
            name="PapyrusC"
            path="pathmap://PapyrusCpp_PROFILES/PapyrusC.profile.uml"
            provider="CEA LIST"/>
   </extension>
</plugin>
