*.class
*.jar
*.DS_Store

# emacs temporary files
*~

# Package Files #
*.war
*.ear
*.emtl

# Visual Studio secondary files
*.suo
*.sdf
*.opensdf
*.vcxproj.user

#ignore binary files
plugins/*/bin/*

# Generators compiled binary files
plugins/generators/acceleo/org.eclipse.robotml.generators.acceleo/bin/*
plugins/generators/acceleo/org.eclipse.robotml.generators.acceleo.athena/bin/*

plugins/generators/RTMaps/org.eclipse.robotml.generators.acceleo.rtmaps/bin/*
plugins/generators/RTMaps/org.eclipse.robotml.generators.acceleo.rtmaps.ui/bin/*

plugins/generators/CycabTK/org.eclipse.robotml.generators.acceleo.cycabtk/bin/*
plugins/generators/CycabTK/org.eclipse.robotml.generators.acceleo.cycabtk.ui/bin/*

plugins/generators/aroccam/org.eclipse.robotml.generators.acceleo.aroccam/bin/*
plugins/generators/aroccam/org.eclipse.robotml.generators.acceleo.aroccam.ui/bin/*

plugins/athenaDSL/org.xtext.AthenaDSL.ui/bin/*
plugins/athenaDSL/org.xtext.AthenaDSL/bin/*

plugins/athenaml/org.eclipse.papyrus.robotml.athenaml/bin/*

plugins/generators/VLE/org.eclipse.robotml.generators.xtext.athena.vle/bin/*

plugins/generators/athena/org.eclipse.robotml.generators.acceleo.athena/bin/*
plugins/generators/athena/org.eclipse.robotml.generators.xtext.athena.simu/bin/*

plugins/generators/MORSE/org.eclipse.robotml.generators.acceleo.morse/bin/*
plugins/generators/MORSE/org.eclipse.robotml.generators.acceleo.morse.ui/bin/*

# RTMaps resources intermediate binary files
plugins/generators/RTMaps/rtmaps_resources/rtmaps_4_sdk_proteus/build/*
plugins/generators/RTMaps/rtmaps_resources/rtmaps_4_sdk_proteus/ipch/*
plugins/generators/RTMaps/rtmaps_resources/rtmaps_4_sdk_proteus/packages/debug/*

# generated .html files
plugins/robotml/*/*.html

bin
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/ArchitectureQueries.emtl
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/DataTypeQueries.emtl
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/DeploymentQueries.emtl
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/FSMQueries.emtl
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/FSMQueries.mtl
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/GeneralQueries.emtl
robotml-kepler/generators/xtext/VLE/org.eclipse.robotml.generators.xtext.athena.vle/tasks/generateVLE.xml
robotml-kepler/dsl-xtext/AthenaDSL/org.eclipse.papyrus.xtext.athenaDSL/xtend-gen/org/xtext/generator/.AthenaDSLGenerator.java._trace
robotml-kepler/dsl-xtext/AthenaDSL/org.eclipse.papyrus.xtext.athenaDSL/xtend-gen/org/xtext/generator/AthenaDSLGenerator.java
robotml-kepler/generators/common/org.eclipse.papyrus.robotml.generators.common/bin/org/eclipse/papyrus/robotml/generators/common/mmqueries/GeneralQueries.emtl
robotml-kepler/update-sites/org.eclipse.papyrus.robotml.dynamicValidation.update/logs.zip
robotml-kepler/update-sites/org.eclipse.papyrus.robotml.dynamicValidation.update/logs/org.eclipse.papyrus.generators.xtext.athena.vle.ui_1.0.0/@dot.log
robotml-kepler/update-sites/org.eclipse.papyrus.robotml.dynamicValidation.update/logs/org.eclipse.papyrus.robotml.generators.athena_1.0.0/@dot.log
robotml-kepler/update-sites/org.eclipse.papyrus.robotml.dynamicValidation.update/logs/org.eclipse.papyrus.robotml.generators.athena.ui_1.0.0/@dot.log
robotml-kepler/update-sites/org.eclipse.papyrus.robotml.dynamicValidation.update/logs/org.eclipse.papyrus.xtext.athenaDSL_0.10.0.201402031851/@dot.log
robotml-kepler/update-sites/org.eclipse.papyrus.robotml.dynamicValidation.update/logs/org.eclipse.papyrus.xtext.athenaDSL.ui_0.10.0.201402031851/@dot.log
