Package: proteus-airlandoarp
Version: 0.1
Section: devel
Priority: optional
Architecture: i386
Maintainer: clement.fouque@lasmea.univ-bpclermont.fr
Depends: proteus-base, proteus-morse, proteus-rtmaps, proteus-orocos
Homepage: http://anr-proteus.fr
Description: PROTEUS Air-Land OARP

