Package: proteus-airlandoarp
Version: 0.1
Section: stable
Priority: optional
Architecture: i386
Maintainer: contact@anr-proteus.fr
Depends: proteus-base, proteus-morse, proteus-rtmaps, proteus-orocos
Homepage: http://anr-proteus.fr
Description: PROTEUS Air-Land OARP

