<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="org.eclipse.proteus.generators.acceleo.cycabtk.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.proteus.generators.acceleo.cycabtk.ui.popupMenus.AcceleoGenerateCycabtkAction"
               enablesFor="+"
               id="org.eclipse.proteus.generators.acceleo.cycabtk.ui.popupMenus.acceleoGenerateCycabtkAction"
               icon="icons/default.gif"
               label="Generate Cycabtk"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.robotML.modelexplorer.popupmenu.generate">
         <command
               commandId="org.eclipse.robotML.generateCycabTKCommand"
               icon="icons/default.gif"
               id="org.eclipse.robotML.generateCycabTKCommand"
               label="Generate to CycabTK"
               style="push"
               tooltip="Generate code to CycabTK middleware">
            <!--visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>							
			</visibleWhen-->		
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Generate to CycabTK middleware"
            id="org.eclipse.robotML.generateCycabTKCommand"
            name="Generate to CycabTK">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.robotml.generators.acceleo.cycabtk.ui.handler.AcceleoGenerateCycabTKCommandHandler"
            commandId="org.eclipse.robotML.generateCycabTKCommand">
      </handler>
   </extension>
</plugin>
