<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.robotML.modelexplorer.popupmenu.generate">
         <command
               commandId="org.eclipse.robotML.generateOrocosCommand"
               icon="icons/default.gif"
               id="org.eclipse.robotML.generateOrocosCommand"
               label="Generate to Orocos"
               style="push"
               tooltip="Generate code to Orocos middleware">
            <!--visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>							
			</visibleWhen-->		
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Generate to Orocos middleware"
            id="org.eclipse.robotML.generateOrocosCommand"
            name="Generate to Orocos">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.robotml.generators.orocos.ui.handler.AcceleoGenerateOrocosCommandHandler"
            commandId="org.eclipse.robotML.generateOrocosCommand">
      </handler>
   </extension>

</plugin>
