<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.codegen.extensionpoints.language">
      <client
            class="org.eclipse.papyrus.robotml.vle.codegen.VLELangSupport"
            language="VLE">
      </client>
   </extension>

</plugin>
