<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="language" name="languageSupport" schema="schema/language.exsd"/>
   <extension-point id="instanceConfig" name="instanceConfigName" schema="schema/instanceConfig.exsd"/>
   <extension-point id="externalGenerator" name="externalGenerator" schema="schema/externalGenerator.exsd"/>
   <!--extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="eC3M.modelListener"
            realization="org.eclipse.papyrus.robotml.deployment.listeners.ModelListener">
      </listener>
   </extension-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.robotml.deployment.handlers.CreateDepPlanHandler"
            description="Create deployment plan"
            id="org.eclipse.papyrus.robotml.deployment.menuActions.CreateDepPlanCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.robotml.deployment.handlers.CreatePlatformHandler"
            description="Create platform definition"
            id="org.eclipse.papyrus.robotml.deployment.menuActions.CreatePlatformCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.robotml.deployment.handlers.ConfigureInstanceHandler"
            description="Configure instance"
            id="org.eclipse.papyrus.robotml.deployment.menuActions.ConfigureInstanceCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.robotml.deployment.handlers.AllocateHandler"
            description="Allocate to node"
            id="org.eclipse.papyrus.robotml.deployment.menuActions.AllocateCmd"
            name="dummy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrus.robotml.deployment.menuActions.CreateDepPlanCmd"
               icon="icons/depPlan.gif"
               id="org.eclipse.papyrus.robotml.deployment.menuActions.CreateDepPlanMenu"
               label="RobotML: Create deployment plan"
               mnemonic="d"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.robotml.deployment.menuActions.CreatePlatformCmd"
               icon="icons/depPlan.gif"
               id="org.eclipse.papyrus.robotml.deployment.menuActions.CreatePlatformMenu"
               label="RobotML: Create platform definition"
               mnemonic="d"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
        
         <command
               commandId="org.eclipse.papyrus.robotml.deployment.menuActions.AllocateCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.robotml.deployment.menuActions.AllocateMenu"
               label="RobotML: Allocate to node"
               mnemonic="A"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
       
	  </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command
               commandId="org.eclipse.papyrus.robotml.deployment.menuActions.CreateDepPlanCmd"
               icon="icons/depPlan.gif"
               id="org.eclipse.papyrus.robotml.deployment.menuActions.CreateDepPlanMenu"
               label="Create deployment plan"
               mnemonic="d"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.robotml.deployment.menuActions.CreatePlatformCmd"
               icon="icons/depPlan.gif"
               id="org.eclipse.papyrus.robotml.deployment.menuActions.CreatePlatformMenu"
               label="Create platform definition"
               mnemonic="d"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
       
         <command
               commandId="org.eclipse.papyrus.robotml.deployment.menuActions.AllocateCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.robotml.deployment.menuActions.AllocateMenu"
               label="Allocate to node"
               mnemonic="A"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         
      </menuContribution>
	</extension>
	<!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            category=""
            class="org.eclipse.papyrus.robotml.deployment.preferences.EC3MPreferencePage"
            id="org.eclipse.papyrus.robotml.deployment.preferences.EC3MPreferencePage_ID"
            name="eC3M preferences">
      </page>
    </extension-->
    <!--extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.robotml.deployment.preferences.EC3MPreferenceInitializer">
      </initializer>
    </extension-->
</plugin>
