Package: proteus-cycabtk
Version: 0.1
Section: stable
Priority: optional
Architecture: i386
Maintainer: contact@anr-proteus.fr
Depends: cycabtksimulator
Homepage: http://anr-proteus.fr
Description: CycabTk for PROTEUS

