<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="org.eclipse.robotml.generators.acceleo.athena.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Proteus UML Model" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.robotml.generators.acceleo.athena.ui.popupMenus.AcceleoGenerateAthenaAction"
               enablesFor="+"
               id="org.eclipse.robotml.generators.acceleo.athena.ui.popupMenus.acceleoGenerateAthenaAction"
               icon="icons/default.gif"
               label="Generate to Athena ADL"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.robotml.generators.acceleo.athena.ui.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
      </objectContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.robotML.modelexplorer.popupmenu.generate">
         <command
               commandId="org.eclipse.robotML.generateAthenaCommand"
               icon="icons/default.gif"
               id="org.eclipse.robotML.generateAthena"
               label="Generate to Athena ADL"
               style="push"
               tooltip="Generate code to Athena">
            <!--visibleWhen>
               <reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithProteus">
               </reference>
            </visibleWhen-->
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Generate to Athena code"
            id="org.eclipse.robotML.generateAthenaCommand"
            name="Generate to Athena">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.robotml.generators.acceleo.athena.ui.handler.AcceleoGenerateAthenaCommandHandler"
            commandId="org.eclipse.robotML.generateAthenaCommand">
      </handler>
   </extension>
   
</plugin>
