<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.eclipse.papyrus.robotml.extension.validation.category1"
            name="RobotMLExtesion rules">
      </category>
      <constraintProvider
            mode="Batch">
         <package
               namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
         </package>
         <constraints
               categories="org.eclipse.papyrus.robotml.extension.validation.constraints">
            <constraint
                  class="org.eclipse.papyrus.robotml.extension.validation.constraints.OnlyOneEnvironment"
                  id="org.eclipse.papyrus.robotml.extension.validation.OnlyOneEnvironment"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="org.eclipse.papyrus.robotml.extension.validation.OnlyOneEnvironment"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="org.eclipse.papyrus.robotml.extension.validation.context">
         <selector
               class="org.eclipse.papyrus.robotml.extension.validation.ValidationDelegateClientSelector">
         </selector>
      </clientContext>
      <binding
            context="org.eclipse.papyrus.robotml.extension.validation.context">
         <category
               ref="org.eclipse.papyrus.robotml.extension.validation.constraints">
         </category>
      </binding>
   </extension>

</plugin>
