Package: proteus-base-protege
Version: 0.1
Section: stable
Priority: optional
Architecture: i386
Maintainer: contact@anr-proteus.fr
Depends: sun-java6-jdk | openjdk-6-jdk, protege-proteus
Homepage: http://anr-proteus.fr
Description: Protege for PROTEUS

