<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="RobotML product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="RobotML RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/Icone1-16x16-32bits.png,icons/Icone1-32x32-32bits.png,icons/Icone1-48x48-32bits.png">
         </property>
         <property
               name="appName"
               value="RobotML RCP Product">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="RobotML RCP Product">
         <property
               name="windowImages"
               value="icons/Icone1-16x16-32bits.png,icons/Icone1-32x32-32bits.png,icons/Icone1-48x48-32bits.png">
         </property>
         <property
               name="aboutText"
               value="RobotML : Robotic Modelling Environment based on the eclipse platform.">
         </property>
         <property
               name="aboutImage"
               value="icons/Icone1-48x48-32bits.png">
         </property>
         <property
               name="appName"
               value="RobotML RCP Product">
         </property>
      </product>
   </extension>

</plugin>
