Package: proteus-all
Version: 0.1
Section: devel
Priority: optional
Architecture: i386
Maintainer: clement.fouque@lasmea.univ-bpclermont.fr
Depends: proteus-urbanoarp, proteus-airlandoarp, proteus-offroadoarp, proteus-interventionoarp, proteus-rycchallenge, proteus-base-eclipse, proteus-base-protege
Homepage: http://anr-proteus.fr
Description: All packages of PROTEUS

