Package: proteus-challenge4
Version: 0.1
Section: devel
Priority: optional
Architecture: i386
Maintainer: pierrick.koch@gmail.com
Depends: proteus-base, proteus-morse, proteus-aroccam, proteus-rtmaps, proteus-urbi, proteus-orocos
Homepage: http://anr-proteus.fr
Description: PROTEUS Challenge n4

