Package: proteus-interventionoarp
Version: 0.1
Section: stable
Priority: optional
Architecture: i386
Maintainer: contact@anr-proteus.fr
Depends: proteus-base, proteus-morse, proteus-rtmaps
Homepage: http://anr-proteus.fr
Description: PROTEUS Intervention OARP

